.card {
    border: 1px solid darkgray;
    width: 50% ;
    margin:2% auto;
}
.progress-bar{
    color:black !important
}

.selectButtons {
    margin:0 25%;
    display:inline-flex;
    width : 70%;
    margin-left : 5%;
}

.formControl {
    margin-left:0%;
    height:20px;
    width : 55%;
}

